<%= form.text_field :keyword, placeholder: "検索する", class: "search-text-box", autocomplete: "off", value: keyword %>
<button class="search-button">
  <%= image_tag "search_icon@2x.png", class:"search-icon" %>
</button>