<% everyone_posts.each do |everyone_post| %>
  <div class='grid'>
    <div class='post-img-content'>
      <%# data-lightbox %>
      <%#= link_to post.image, "data-lightbox": post.image do %>
      <%= link_to everyone_post.image, rel: "lightbox[.show-index-img]", class: "lightbox-show" do %>
        <div>
          <%= image_tag everyone_post.image, class: "show-index-img" %>
        </div>
      <% end %>
      <div class="index-memo">
        <%= everyone_post.memo %>
      </div>
      <%# //data-lightbox %>
    </div>
  </div>
<% end %>

<div class="sign_modal_wrapper"></div>