<% everyone_posts.each do |post| %>
  <div class='grid'>
    <div class='post-img-content'>
      <%# fancyBox3 %>
      <%= link_to post.image, data: {fancybox: "group"} do %>
        <div>
          <%= image_tag post.image, class: "show-index-img" %>
        </div>
      <% end %>
      <%# //fancyBox3 %>
      <div class="index-memo">
        <%= post.memo %>
      </div>
    </div>
  </div>
<% end %>

<div class="sign_modal_wrapper"></div>