<% posts.each do |post| %>
  <div class='grid'>
    <div class='index-img-content'>
      <%= render "shared_child/img",post: post %>
    </div>
  </div>
<% end %>

<div class="sign_modal_wrapper"></div>