<% posts.each do |post| %>
  <li class='list'>
    <div class='index-img-content'>
      <%# data-lightbox %>
      <%= link_to post.image, "data-lightbox": post.image do %>
        <%= image_tag post.image, class: "index-img" %>
        <div class="index-memo"><%= post.memo %></div>
      <% end %>
      <%# //data-lightbox %>
    </div>
  </li>
  </li>
<% end %>

<div class="sign_modal_wrapper"></div>