<% posts.each do |post| %>
  <li class='list'>
    <div class='post-img-content'>
      <%#= link_to post_path(post.id) do %>
      <%= link_to "#" do %>
        <%= image_tag post.image, class: "post-img" %>
      <% end %>
    </div>
  </li>
<% end %>

<div class="sign_modal_wrapper"></div>