<%= render "shared/second_header" %>
<%= form_with model: @post, url: post_path, class: 'registration-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        編集
      </h1>
    </div>
    <%= render "shared/form", f: f %>
  </div>
<% end %>