<% if user_signed_in? %>
  <%= render "shared/header_everyone", keyword: "" %>
<% else %>
  <%= render "shared/header_nonlog", keyword: "" %>
<% end %>
<div class='main'>
  <div class='post-contents'>
    <%# 投稿画像がない場合のダミー %>
    <% if @posts.where('id >= 1').blank? %>
      <P class="dummy-contents">
        <P class="dummy-text">日々の思い出を貼付してみませんか?</p>
        <p class='info-text dummy-info-text'>※ 画面右上より画像をアップロードして下さい。</p>
      </p>
    <% end %>
    <%# //投稿画像がない場合のダミー %>
    <div class='post-grids-container'>
      <%# 画像一覧 %>
      <%= render "shared/index_everyone", posts: @posts %>
      <%# /画像一覧 %>
    </div>
  </div>
</div>
