<%= render "shared/everyone_header" %>
<div class='main'>
  <div class='post-contents'>
    <div class='post-grids-container'>
      <%# 画像一覧 %>
        <%= render "shared/everyone_index", everyone_posts: @everyone_posts %>
      <%# /画像一覧 %>
    </div>
  </div>
</div>
