<%= render "shared/header_favorite", keyword: "" %>
<div class='main'>
  <div class='post-contents'>
    <%# お気に入り画像がない場合のダミー %>
    <% if @posts.blank? %>
      <P class="dummy-contents">
        <P class="dummy-text">お気に入りの写真はございません</p>
        <p class='info-text dummy-info-text'>※ トップページより写真をお気に入り登録できます。</p>
      </p>
    <% end %>
    <%# //お気に入り画像がない場合のダミー %>
    <div class='post-grids-container'>
      <%# 画像一覧 %>
      <%= render "shared/index_favorite", posts: @posts %>
      <%# /画像一覧 %>
    </div>
  </div>
</div>