* {
  box-sizing: border-box;
}

/* ヘッダー全て */
.top-page-header {
  width: 100vw;
  height: 80px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 100;
}
/* //ヘッダー全て */


/* inoteアイコン */
.inote-icon{
  height: 55px;
  margin: 0 1vw 0 3vw;
}
/* //inoteアイコン */


/* ヘッダー左 小画面ポップアップ*/

.left-sp-info-box{
  position: absolute;
  margin-top: 20px;
  padding: 10px 5px 15px 10px;
  height: 94px;
  width: 150px;
  background-color: white;
  border-radius: 15px;
  display: none;
}

.left-sp-nonlog-info-box{
  position: absolute;
  margin-top: 20px;
  padding: 10px 5px 15px 10px;
  height: 67px;
  width: 150px;
  background-color: white;
  border-radius: 15px;
  display: none;
}

.arrow-bk-icon, .arrow-bk-nonlog-icon {
  display: none;
}

/* //ヘッダー左 小画面ポップアップ*/


/* お気に入り */

.favorite-post-link{
  /* font-size: 15px; */
  font-size: 13px;
  /* width: 105px; */
  width: 95px;
  /* padding: 15px; */
  padding: 17px 5px 5px;
  border-radius: 50px;
  text-align: center ;
}

.favorite-post-link:hover{
  background-color: #f3f3f3;
}

/* //お気に入り */


/* みんなの投稿 */

.everyone-post-link{
  /* font-size: 15px; */
  font-size: 13px;
  /* width: 120px; */
  width: 110px;
  /* padding: 15px; */
  padding: 17px 5px 5px;
  border-radius: 50px;
  text-align: center ;
}

.everyone-post-link:hover{
  background-color: #f3f3f3;
}

/* //みんなの投稿 */


/* 検索欄 */

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 9.5vw - 552px);
  margin-left: 1vw;
  margin-right: 3vw;
}

.search-bar-nonlogin-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 9.5vw - 345px);
  margin-left: 1vw;
  margin-right: 3vw;
}

.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: none;
  border-radius: 50px 0 0 50px;
}

.search-form>.input-box:focus{
  outline: 0;
  box-shadow: none;
  background-color: #e5e5e5;
}

.search-button {
  width: 70px;
  border: 0;
  cursor: pointer;
  background-color: #f3f3f3;
  border-radius: 0 50px 50px 0;
  padding: 13px;
  margin-left: 3px;
}

.search-icon {
  height: 100%;
}

/* //検索欄 */


/* ナビゲーション欄 */

#upload_icon{
  margin-top: 6px;
}
.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* width: 300px; */
  margin-left: 1vw;
  /* margin-top: 6px; */
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin-right: 3vw;
  height: 40px;
}

#user_nickname_box{
  padding-bottom: 7px;
}

.user-nickname {
  text-decoration: none;
  color: #898989;
  font-weight: bold;
  margin-right: 1vw;
  /* margin-top: 6px; */
}

.logout {
  margin-left: 0.5vw;
}

.login {
  line-height: 32px;
  margin-right: 0.5vw;
}

.sign-up {
  margin-left: 0.5vw;
}

.devise_icon{
  height: 35px;
}

/* //ナビゲーション欄 */



/* 以下レスポンシブ対応 */



/* パソコンサイズで見たときは"pc"のclassがついた画像が表示される */
.tb { display: none !important; }
.in-tb{ display: none !important; }
.sp { display: none !important; }
.in-sp { display: none !important; }
.pc { display: block !important; }
.in-pc { display: inline!important; }

 
/* タブレットサイズで見たときは"tb"のclassがついた画像が表示される */

@media (max-width: 1024px) {
  .pc { display: none !important; }
  .in-pc { display: none !important; }
  .sp { display: none !important; }
  .in-sp { display: none !important; }
  .tb { display: block !important; }
  .in-tb { display: inline !important; }
  .inote-icon{
    height: 51px;
    margin: 3px 1vw 0 30px;
  }
  .search-bar-contents{
    width: calc(100vw - 9.5vw - 330px);
  }
  .search-bar-nonlogin-contents{
    width: calc(100vw - 9.5vw - 300px);
    margin-left: 15px !important;
    margin-right: 15px;
  } 
  .registration-main { width: 100vw !important; min-width: 0 !important;}
  .top-page-second-header{ width: 100vw !important; }
}


/* スマートフォンサイズで見たときは"sp"のclassがついた画像が表示される */

@media (max-width: 599px) {
  .pc { display: none !important; }
  .in-pc { display: none !important; }
  .tb { display: none !important; }
  .in-tb { display: none !important; }
  .sp { display: block !important; }
  .in-sp { display: inline !important; }
  .inote-icon{
    margin: 3px 1vw 0 18px;
  }
  .left-sp-info{
    position: relative;
  }
  .favorite-sp-link { 
    font-size: 15px;
    width: 105px;
    padding: 5px 5px 5px;
    text-align: center;
    border-radius: 50px;
    margin: 0;
    display: block;
  }
  .favorite-sp-link:hover{
    background-color: #f3f3f3;
  }
  .everyone-sp-link { 
    font-size: 15px;
    width: 120px;
    padding: 5px 5px 5px;
    text-align: center;
    border-radius: 50px;
    display: block;
    margin-top: 8px;
  }
  .everyone-sp-link:hover{
    background-color: #f3f3f3;
  }
  .arrow-bk-icon, .arrow-bk-nonlog-icon{
    height: 40px;
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    display:block
  }
  .arrow-bk-icon:hover, .arrow-bk-nonlog-icon:hover{
    background-color: #f3f3f3;
  }
  .favorite-post-link { display: none !important; }
  .everyone-post-link { display: none !important; }
  .search-bar-contents{
    width: calc(100vw - 9.5vw - 100px);
  }
  .search-bar-nonlogin-contents{
    width: calc(100vw - 9.5vw - 100px);
  }
  #upload_icon{ margin-top: 8px !important;}
  .nav { 
    margin-left: 0;
    margin-top: 8px;
  }
  .devise_sp_icon{
    height: 35px;
    padding: 5px;
  }
  .lists-right{ height: 35px !important; }
  .search-button{ width: 50px; }
  .form-wrap{ width: 100% !important; }
  .form-group{ width: 80% !important; }
  .register-btn{ width: 80% !important; }
  .login-btn{ width: 80% !important; }
  .dummy-text {font-size: 20px !important;}
  .info-text{ font-size: 11px !important; }
  .search-icon{ display: none !important; }
  .search-button { width: 20px !important; }
}

@media (max-width: 360px) {
  .devise_icon{ height: 32px !important;}
  .lists-right{ height: 32px !important; }
  .dummy-text {font-size: 17px !important; }
  .info-text{ font-size: 8px !important; }
}


