* {
  box-sizing: border-box;
}

/* ヘッダー全て */
.top-page-header {
  width: 100vw;
  height: 80px;
  padding: 0 3vw;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  min-width: 280px;
}
.in-scroll {
  transition: 1s;
}
.hideUp {
  transform: translateY(-100%);
}
.hideDown {
  transform: translateY(100%);
}
.header-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
/* //ヘッダー全て */

/* inoteアイコン */
.inote-icon {
  width: 160px;
  margin-right: 14px;
}
.inote-sp-icon {
  width: 54px;
  border-radius: 50%;
  margin-right: 14px;
}
.inote-sp-icon:hover {
  background-color: #f3f3f3;
  transition: 0.5s;
}
/* //inoteアイコン */

/* リンクボックス */
.post-link-box {
  display: flex;
  align-items: center;
  margin: 0;
}
.my-post-link,.favorite-post-link{
  font-size: 14px;
  width: 98px;
  height: 54px;
  padding: 20px 14px;
  border-radius: 100px;
  text-align: center ;
  line-height: 1;
  text-align: center;
}
.my-post-link:hover,.favorite-post-link:hover{
  background-color: #f3f3f3;
  transition: 0.5s;
}
.everyone-post-link{
  font-size: 14px;
  width: 112px;
  height: 54px;
  padding: 20px 14px;
  border-radius: 100px;
  text-align: center ;
  line-height: 1;
  text-align: center;
}
.everyone-post-link:hover{
  background-color: #f3f3f3;
  transition: 0.5s;
}
/* //リンクボックス */

/* 検索欄 */
.search-bar-contents {
  display: flex;
  align-items: center;
  height: 54px;
}
.search-bar-nonlogin-contents {
  display: flex;
  align-items: center;
  height: 54px;
}
.search-form {
  width: 100%;
  height: 100%;
  display: flex;
}
.search-text-box {
  background-color: #f3f3f3;
  /* width: calc(100vw - 833px); */
  height: 100%;
  padding-left: 26px;
  padding-right: 14px;
  border: none;
  border-radius: 50px 0 0 50px;
  font-size: 17px;
  margin-left: 12px;
}
.search-bar-contents .search-form .search-text-box {
  width: calc(100vw - 6vw - 54px -  14px - 308px - 12px - 4px - 75px - 14px - 64px - 14px - 52px);
}
.search-bar-nonlogin-contents .search-form .search-text-box {
  width: calc(100vw - 6vw - 54px -  14px - 112px - 12px - 4px - 75px - 14px - 42px - 14px - 42px);
}
/* .search-text-box:hover {
  background-color: #FAFAFA;
  transition: 0.5s;
} */
.search-text-box:focus{
  outline: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: 0.5s;
  background-color: #FAFAFA;
}
.search-button {
  width: 75px;
  height: 100%;
  border: 0;
  cursor: pointer;
  background-color: #f3f3f3;
  border-radius: 0 50px 50px 0;
  padding: 15px 26px 13px 23px;
  margin-left: 4px;
}
.search-icon {
  width: 26px;
  height: 26px;
  display: block;
}
/* //検索欄 */

/* ナビゲーション欄 */
.nav {
  font-size: 18px;
  display: flex;
  height: 36px;
}
.devise_icon{
  height: 36px;
  margin-left: 14px;
}
.devise_icon:hover {
  opacity: 0.4;
  transition: 0.5s;
}
/* //ナビゲーション欄 */

/* スマホ用ヘッダー */
.sp-nav {
  /* margin: 0 0 0 auto; */
  width: 54px;
  width: 24px;
  height: 54px;
  position: relative;
  cursor: pointer;
  /* margin-left: 24px; */
}
.sp-nav-box {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.sp-nav-line {
  width: 100%;
  margin: 0;
  border-top: 2px solid #666666;
}
.sp-top-page-header{
  width: 100vw;
  height: 48px;
  padding: 0 3vw;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}
.sp_search-bar-contents {
  display: flex;
  align-items: center;
  height: 40px;
}
.sp_search-bar-nonlogin-contents {
  display: flex;
  align-items: center;
  height: 40px;
}
.sp_devise_icon{
  height: 36px;
  margin-left: 14px;
}
/* //スマホ用ヘッダー */


/* 以下レスポンシブ対応 */

.inote-icon { display: none !important; }
.inote-sp-icon { display: block !important; }
/* .inote-icon { display: block !important; }
.inote-sp-icon { display: none !important; } */
.devise_icon { display: block !important; }
.search-bar-contents { display: block !important; }
.search-bar-nonlogin-contents { display: block !important; }
.sp-nav { display: none !important; }
@media (max-width: 1024px) {
  .inote-icon { display: none !important; }
  .inote-sp-icon { display: block !important; }
  .search-bar-contents .search-form .search-text-box {
    width: calc(100vw - 6vw - 54px -  14px - 308px - 12px - 4px - 27px - 14px - 64px - 14px - 52px);
  }
  .search-bar-nonlogin-contents .search-form .search-text-box {
    width: calc(100vw - 6vw - 54px -  14px - 112px - 12px - 4px - 27px - 14px - 42px - 14px - 42px);
  }
  .search-icon {
    display: none;
  }
  .search-button {
    width: 27px;
    padding: 0;
  }
}
@media (min-width: 721px) {
  .sp-top-page-header{display: none !important; }
}
@media (max-width: 720px) {
  .devise_icon { display: none !important; }
  .search-bar-contents { display: none !important; }
  .search-bar-nonlogin-contents { display: none !important; }
  /* .sp-nav { display: block !important; } */
  .sp-top-page-header{display: flex; }
  .post-link-box { 
    margin: 0 auto 0 0; 
  }
  /* .inote-sp-icon {
    margin: 0;
  } */
  .search-text-box {
    margin: 0;
  }
  .sp_search-bar-contents .search-form .search-text-box {
    width: calc(100vw - 6vw - 4px - 27px - 14px - 64px - 14px - 52px);
  }
  .sp_search-bar-nonlogin-contents .search-form .search-text-box {
    width: calc(100vw - 6vw - 4px - 27px - 14px - 42px - 14px - 42px);
  }
}
@media (max-width: 480px) {
  .inote-sp-icon {
    margin: 0;
  }
}
@media (max-width: 449px) {
/* @media (max-width: 375px) { */
  .inote-sp-icon {
    width: 52px;
  }
  .sp-nav {
    width: 24px;
    height: 52px;
    background: none;
    border-radius: 0;
  }
  .sp-nav:hover { background-color: white; }
  .my-post-link,.favorite-post-link{
    font-size: 12px;
    width: 84px;
    height: 52px;
    padding: 20px 12px;
  }
  .everyone-post-link{
    font-size: 12px;
    width: 96px;
    height: 52px;
    padding: 20px 12px;
  }
  .sp_devise_icon {
    height: 32px;
    margin-left: 10px;
  }
  .sp_search-bar-contents .search-form .search-text-box {
    width: calc(100vw - 6vw - 4px - 27px - 10px - 56.89px - 10px - 46.22px);
  }
  .sp_search-bar-nonlogin-contents .search-form .search-text-box {
    width: calc(100vw - 6vw - 4px - 27px - 10px - 37.33px - 10px - 37.33px);
  }
  /* .post-link-box {
    margin: 0 auto  0 0;
  } */
}
@media (max-width: 365px) {
/* @media (max-width: 330px) { */
  .my-post-link,.favorite-post-link{
    font-size: 10px;
    width: 70px;
    height: 48px;
    padding: 19px 10px;
  }
  .everyone-post-link{
    font-size: 10px;
    width: 80px;
    height: 48px;
    padding: 19px 10px;
  }
  .inote-sp-icon {
    width: 48px;
  }
  .sp-nav {
    width: 24px;
    height: 48px;
  }
  /* .sp-nav-box {
    width: 20px;
    height: 12px;
  } */
  .sp_devise_icon {
    height: 28px;
    margin-left: 10px;
  }
  .sp_search-bar-contents .search-form .search-text-box {
    width: calc(100vw - 6vw - 4px - 27px - 10px - 49.78px - 10px - 40.44px);
  }
  .sp_search-bar-nonlogin-contents .search-form .search-text-box {
    width: calc(100vw - 6vw - 4px - 27px - 10px - 32.67px - 10px - 32.67px);
  }
}
@media (max-width: 320px) {
/* @media (max-width: 270px) { */
  .my-post-link,.favorite-post-link{
    font-size: 10px;
    width: 62px;
    height: 40px;
    padding: 15px 6px;
  }
  .everyone-post-link{
    font-size: 10px;
    width: 72px;
    height: 40px;
    padding: 15px 6px;
  }
  .inote-sp-icon {
    width: 40px;
  }
  .sp-nav {
    width: 24px;
    height: 40px;
    margin-left: 4px;
  }
  .sp-nav-box {
    width: 20px;
    height: 12px;
  }
}
