/* メイン全体 */
body {
  color: #3E3A39;
  font-family: "游教科書体 横用";
  font-family: "游明朝体";
}
.main{
  margin-top: 80px;
  height: 100vh;
  width: 100vw;
  /* min-width: 280px; */
}
.post-contents{
  height: 100%;
  width: 100%;
}
.cursor-pointer{
  cursor: pointer;
}
.cursor-default{
  cursor: default;
}
.fade-in-display {
  visibility: hidden;
}
.fadeInDisplay1 {
  animation: fadeInDisplay 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  visibility: visible !important;
}
.fadeInDisplay001 {
  animation: fadeInDisplay 0.01s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  visibility: visible !important;
}
@keyframes fadeInDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* //メイン全体 */
/* 画像一覧 */
.post-grids-container{
  height: 100%;
  position: relative;
  margin: 0 auto ;
}
.grid{
  width: 236px;
  border-radius: 15px;
  float: left;
    /* サイズ変更に時間がかかるとgrid調整に間に合わない */
  /* transition: top 1s ease, left 1s ease; */
  /* transition: 0.5s ; */
  visibility: hidden;
}
.index-img-content{
  position: relative;
}
.index-img-content-link {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  cursor:pointer;
}
.show-index-img{
  width: 100%;
  border-radius: 15px;
  z-index: 0.5;
  background-color: #3e3a39;
}
.show-index-img:hover{
  opacity: 0.9;
}
.index-img-content:hover .index-memo{
  display: block;
  opacity: 0.9;
}
/* //画像一覧 */
/* メモ */
.index-memo-content {
  font-size: 14px;
  word-wrap: break-word;
  white-space: pre-line;
  /* margin-top: -21px; */
  padding: 13px 0;
  padding: 7px 0 21px;
}
/* //メモ */
/* 詳細表示 */
.lightbox-show{
  height: 70vh;
}
#lightbox .lb-container { 
  padding: 0; 
}
/* /詳細表示 */
/* 編集/削除ボタン */
.index-arrow{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  padding: 15px 20px;
}
.index-img-content:hover .index-arrow .more_list{
  display: block;
}
.more_list{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 38px;
  display: none;
  border-radius: 4px;
  background-color:  black;
  padding: 4px 7px;
}
.list-btn{
  color: #3e3a39;
  /* text-decoration: none; */
  font-size: 14px;
}
/* //編集/削除ボタン */
/* ダミー */
.dummy-contents{
  flex-direction: column;
  margin-top: 80px;
  display: inline-block;
}
.dummy-text{
  font-size: 25px;
  font-family: "游教科書体 横用";
  text-align: center;
}
.dummy-info-text{
  text-align: center;
}
/* //ダミー */


/* 以下レスポンシブ対応 */

/* andと()を付けたら適用されない */
/* @media screen and (max-width: ....) {} */


/* @media (min-width: 1476px) {
  .post-grids-container {
      width: calc((236px + 5px * 2) * 6);
  }
}
@media (max-width: 1475px) and (min-width: 1230px) {
  .post-grids-container {
      width: calc((236px + 5px * 2) * 5);
  }
}
@media (max-width: 1229px) and (min-width: 985px) {
  .post-grids-container {
      width: calc((236px + 5px * 2) * 4);
  }
}
@media (max-width: 984px) and (min-width: 738px) {
  .post-grids-container {
      width: calc((236px + 5px * 2) * 3);
  }
}
@media (max-width: 737px) and (min-width: 492px) {
  .post-grids-container {
      width: calc((236px + 5px * 2) * 2);
  }
}
@media (max-width: 491px) and (min-width: 481px) {
  .post-grids-container {
      width: calc((236px + 5px * 2) * 1);
  }
}
@media (max-width: 480px) and (min-width: 280px) {
  .post-grids-container {
      width: 94vw;
      margin: 0 3vw;
  }
  .grid{
    width: calc((94vw - (5px * 4)) / 2);
  }
  .index-memo-content {
    font-size: 12px;
  }
}
@media (max-width: 279px) and (min-width: 0px) {
  .post-grids-container {
    width: 94vw;
    margin: 0 3vw;
}
  .grid{
    width: calc(94vw - (5px * 2));
  }
  .index-memo-content {
    font-size: 12px;
  }
} */

@media (max-width: 480px) and (min-width: 280px) {
  /* .grid{
    width: calc((100vw - (7px * 4)) / 2);
  } */
  /* .post-grids-container {
      width: 100vw;
      margin: 0;
  } */
  .index-memo-content {
    font-size: 12px;
  }
}
@media (max-width: 279px) and (min-width: 0px) {
  /* .grid{
    width: calc(100vw - (7px * 2));
  } */
  /* .post-grids-container {
    width: 100vw;
    margin: 0;
} */
  .index-memo-content {
    font-size: 12px;
  }
}