/* モーダルの背景 */

/* .sign_modal_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3e3a39;
  opacity: .7;
  display: none;
} */

/* /モーダルの背景 */


/* メイン全体 */

.main{
  margin-top: 80px;
  padding: 0 3vw;
}

.cursor-poimter{
  cursor: pointer;
}

/* /メイン全体 */


/* 画像一覧 */

.post-lists{
  display: flex;
  /* justify-content: center; */
  width: 94vw;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: baseline;
}

.post-lists>li{
  width: 15.66%;
  margin: 0.5%;
  border-radius: 15px;
  background-color: #3e3a39;
}

.post-img-content{
  position: relative;
}

.show-index-img{
  width: 100%;
  border-radius: 15px;
  z-index: 0.5;
}

.show-index-img:hover{
  opacity: 0.9;
}

.post-img-content:hover .index-memo{
  display: block;
  opacity: 0.9;
}

.index-memo{
  color: #f3f3f3;
  position: absolute;
  bottom: 5px;
  right: 10px;
  display: none;
  font-size: 12px;
}

.lightbox-show{
  height: 70vh;
}

#lightbox .lb-container { 
  padding: 1px; 
}

.index-arrow{
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
  padding: 5px 10px;
}

.index-arrow:hover .more_list{
   display: block;
   opacity: 0.9;
}

.more_list{
  position: absolute;
  top: 25px;
  right: 5px;
  width: 35px;
  display: none;
}

.list-bun{
  color: #f3f3f3;
  /* text-decoration: none; */
  
}



/* /画像一覧 */