/* メイン全体 */

.main{
  margin-top: 80px;
  height: 100vh;
  width: 100vw;
}

.post-contents{
  height: 100%;
  width: 100%;
}

/* //メイン全体 */


/* 画像一覧 */

.post-grids-container{
  height: 100%;
  /* width: 94vw; */
  /* width: 100%; */
  position: relative;
  margin: 0 auto ;
}

.grid{
  /* width: 15.66%; */
  /* width: 269.6px; */
  width: 236px;
  /* width: 170px; */
  margin: 0.5%;
  border-radius: 15px;
  background-color: #3e3a39;
  float: left;
  transition: top 1s ease, left 1s ease;
}

.post-img-content{
  position: relative;
}

.show-index-img{
  width: 100%;
  border-radius: 15px;
  z-index: 0.5;
  cursor: zoom-in;
}

.show-index-img:hover{
  opacity: 0.9;
}

.post-img-content:hover .index-memo{
  display: block;
  opacity: 0.9;
}

.index-memo{
  color: #f3f3f3;
  position: absolute;
  bottom: -12px;
  right: 10px;
  display: none;
  font-size: 12px;
  word-wrap: break-word;
  width: 90%;
  text-align: right;
  white-space: pre-wrap;
  font-family: "游教科書体 横用";
}

/* //画像一覧 */


/* 詳細表示 */

.lightbox-show{
  height: 70vh;
}

#lightbox .lb-container { 
  padding: 0; 
}

/* /詳細表示 */


/* 編集/削除ボタン */

.index-arrow{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  padding: 15px 20px;
}

/* .index-arrow:hover .more_list{
   display: block;
} */

.post-img-content:hover .index-arrow .more_list{
  display: block;
}

.more_list{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 38px;
  display: none;
  border-radius: 4px;
  /* background-color: white; */
  /* background-color:  #3e3a39; */
  background-color:  black;
  padding: 4px 7px;
}

.list-btn{
  color: #3e3a39;
  /* text-decoration: none; */
  font-size: 14px;
}

.edit-icon{
  width: 20px;
  height: 20px;
  margin-left: 1px;
}

.delete-icon{
  width: 20px;
  height: 20px;
  margin-top: 8px;
}

/* //編集/削除ボタン */


/* お気に入りアイコン */

.hert-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 8px;
}

li[data-hert-check="true"] .hert-off-icon{
  display: none;
}

li[data-hert-check="true"] .hert-on-icon{
  display: inline;
}

li[data-hert-check="false"] .hert-on-icon{
  display: none;
}

li[data-hert-check="false"] .hert-off-icon{
  display: inline;
}

/* //お気に入りアイコン */


/* 公開/非公開アイコン */

.grobal-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 8px;
}

li[data-grobal-check="true"] .grobal-off-icon{
  display: none;
}

li[data-grobal-check="true"] .grobal-on-icon{
  display: inline;
}

li[data-grobal-check="false"] .grobal-on-icon{
  display: none;
}

li[data-grobal-check="false"] .grobal-off-icon{
  display: inline;
}

/* 公開/非公開アイコン */


/* ダミー */

.dummy-contents{
  flex-direction: column;
  margin-top: 80px;
  display: inline-block;
}

.dummy-text{
  font-size: 25px;
  font-family: "游教科書体 横用";
  text-align: center;
}

.dummy-info-text{
  text-align: center;
}
/* //ダミー */

/* cursor */

.cursor-pointer{
  cursor: pointer;
}

.cursor-default{
  cursor: default;
}
/* //cursor */



/* 以下レスポンシブ対応 */

/* andと()を付けたら適用されない */
/* @media screen and (max-width: ....) {} */


/* 編集ボタン配置 */


/* タブレット */

 /* メイン全体 */
/* @media screen and (max-width: 1024px) {
   
  .main{
    margin: 80px 0 0;
  }
  
} */
/* //メイン全体 */


@media (max-width: 2015px) and (min-width: 1732px) {
  .post-grids-container {
      width: 1730.5px;
  }
}

@media (max-width: 1732px) and (min-width: 1486px) {
  .post-grids-container {
      width: 1480px;
  }
}

@media (max-width: 1485px) and (min-width: 1240px) {
  .post-grids-container {
      width: 1233px;
  }
}

@media (max-width: 1239px) and (min-width: 995px) {
  .post-grids-container {
      width: 984px;
  }
}

@media (max-width: 994px) and (min-width: 748px) {
  .post-grids-container {
      width: 735px;
  }
}

@media (max-width: 747px) and (min-width: 0px) {
  .post-grids-container {
      width: 485px;
  }
}

/* @media (max-width: 501px) and (min-width: 0px) {
  .post-grids-container {
      width: 238.5px;
  }
} */



@media screen and(max-width: 1024px) {

  .post-img-content .index-arrow .more_list{ width: calc(100% - 2%) !important; left: 1% !important; right: 1% !important; top: initial !important; bottom: 0 !important;}
  .more_list li { display: inline; }
  .more_list li a .edit-icon {
    width: 22% !important;
    height: auto;
  }
  .more_list li .hert-icon {
    width: 22% !important;
    height: auto;
    margin-top: 0 !important;
  }
  .more_list li .grobal-icon {
    width: 22% !important;
    height: auto;
    margin-top: 0 !important;
  }
  .more_list li a .delete-icon {
    width: 22% !important;
    height: auto;
    margin-top: 0 !important;
  }
  .index-memo {
    bottom: initial !important;
    top: -12px !important;
  }
  .index-arrow{ width: calc(100% - 10px) !important; height: calc(20% + 5px); top: initial !important; bottom: 0 !important; padding: 0; }

}

/* //編集ボタン配置 */


/* グリッドサイズ */

/* iPadPro使用時 */
@media screen and(max-width: 1024px) {
  /* 画像一覧 */
  .grid{
    width: 231px;
  }
  /* //画像一覧 */
}
/* iPadPro使用時 */

/* iPad使用時 */
@media screen and(max-width: 768px) {
  /* 画像一覧 */
  .grid{
    width: 231.6px;
  }
  /* //画像一覧 */
}
/* iPad使用時 */


/* iphone6/7/8Plus使用時 */
@media screen and(max-width: 414px) {
  /* 画像一覧 */
  .grid{
    width: 188px;
  }
  /* //画像一覧 */
}
/* //iphone6/7/8Plus使用時 */


/* iphone6/7/8使用時 */
@media screen and(max-width: 375px) {
  /* 画像一覧 */
  .grid{
    width: 169.7px;
  }
  /* //画像一覧 */

/* //iphone6/7/8使用時 */
}
/* Galavy S5使用時 */

@media screen and(max-width: 360px) {
  /* 画像一覧 */
  .grid{
    width: 163px;
  }
  /* //画像一覧 */
}
/* //Galavy S5使用時 */

/* iphone5使用時 */
@media screen and(max-width: 320px) {
  /* 画像一覧 */
  .grid{
    width: 144px;
  }
  /* //画像一覧 */
}
/* //iphone5使用時 */

/* //グリッドサイズ */