.post-bk-btn {
  width: 100%;
  background: #3e3a39;
  border: 1px solid #3e3a39;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
}
.memo-text-area{
  margin-top: 5px;
  height: 64px;
  padding: 10px 16px 8px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}
.img-select{
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}
.img-select-icon{
  height: 40px;
}
.img-select-text{
  margin-right: 20px;
  color: #3e3a39;
  padding-top: 13px;
  font-family: "游教科書体 横用";
  font-size: 15px;
}
.image-list{
  margin-top: 15px;
}

/* フォームにフォーカスした際に青い囲み */
.memo-text-area:focus{
  outline: 0;
  box-shadow: none;
  /* border: 1px solid #0099e8; */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: 0.5s;
}
/* //フォームにフォーカスした際に青い囲み */

/* ホバーした時に透過 */
.img-select:hover {
  opacity: 0.4;
  transition: 0.5s;
}
/* //ホバーした時に透過 */

.preview-img{
  width: 324px;
  height: 324px;
  object-fit: contain;
}
@media (max-width: 599px){
  .preview-img{
    width: 100%;
  }
}