/* フォーム全体 */

.registration-main {
  width: 100%;  /* 非同期の際は変更 */
  min-width: 800px;
  height: 100%;
  /* background-color: #f5f5f5; */
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;  /* 非同期の際は変更 */
  margin-top: 160px;
}

.form-wrap {
  width: 650px;
  background-color: white;
  padding-bottom: 70px;
  border: 1px solid #f5f5f5;
}

/* /フォーム全体 */


/* フォームヘッダー */

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  /* font-weight: bold; */
  color: #3e3a39;
}

/* /フォームヘッダー */


/* フォームデフォルト */

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5px 0;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
}

.input-default {
  margin-top: 5px;
  height: 35px;
  padding: 10px 16px 8px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0;
}

/* フォームデフォルト */


/* フォーム誕生日 */

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.input-birth-wrap>select {
  width: 75px;
  margin-top: 5px;
  height: 35px;
  padding-left: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
}

.input-birth-wrap>p {
  padding: 0 5px;
  margin: 5px 0 0 0;
  font-size: 12px;
}

/* /フォーム誕生日 */


/* フォーム下部/ボタン */

.form-bottom-text {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.form-bottom-text>a {
  color: #0099e8;
  text-decoration: none;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-bk-btn {
  width: 100%;
  background: #3e3a39;
  border: 1px solid #3e3a39;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
  font-size: 12px;
}

/* /フォーム下部/ボタン */


/* フォームにフォーカスした際に青い囲み */
.input-default:focus{
  outline: 0;
  box-shadow: none;
  border: 2px solid #0099e8;
}

#user_birthday_1i:focus{
  outline: 0;
  box-shadow: none;
  border: 2px solid #0099e8;
}

#user_birthday_2i:focus{
  outline: 0;
  box-shadow: none;
  border: 2px solid #0099e8;
}

#user_birthday_3i:focus{
  outline: 0;
  box-shadow: none;
  border: 2px solid #0099e8;
}
/* /フォームにフォーカスした際に青い囲み */