.top-page-second-header {
  width: 100vw;
  height: 160px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed;
  top: 0px;
  left: 0px; */
  background-color: white;
  z-index: 1;
}
.inote-second-icon {
  /* width: 160px; */
  width: 54px;
  border-radius: 50%;
}
.inote-second-icon:hover {
  background-color: #f3f3f3;
  transition: 0.5s;
}